<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Application</title>
    <%= stylesheet_link_tag 'application', :media => 'all', :cache => true %>
    <%= stylesheet_link_tag 'http://yui.yahooapis.com/2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css' %>
    <%= stylesheet_link_tag 'http://yui.yahooapis.com/2.8.0r4/build/base/base-min.css' %>
    <%= javascript_include_tag 'jquery-1.4.min', 'application', :cache => true %>
  </head>
  <body>
    <%= render :partial => 'layouts/flashes' -%>
    <div id="doc" class="container">
      <%= yield %>
    </div>
  </body>
</html>
